- @title = "About"
%h1 About Chana Rally
%p One in 6 couples experience infertility; please help us to face their fertility challenge together
%p Many in the Jewish community are affected, often dealing with their situation in silence and alone. Chana is there to help navigate the many couples affected by the trauma of fertility so that they are no longer facing these challenges in silence and isolation.
%p We provide:
%ul 
  %li A strictly confidential helpline
  %li Specialist medical support and information
  %li Professional male and female support workers
  %li Confidential one-to-one counselling
  %li An expert medical advisory panel
  %li Information events
%h2 Specialist medical support and information
%ul 
  %li <strong><a href="http://chana.org.uk/serv_counselling.php">Confidential one-to-one counselling</a></strong>
  %li <strong><a href="http://chana.org.uk/serv_helpline.php">Confidential telephone helpline</a></strong> (Yiddish, Hebrew, French and German are spoken in addition to English)
  %li <strong>Regular update events</strong> with infertility specialists on the latest research and treatment options
  %li <strong><a href="http://chana.org.uk/serv_medical.php">Medical Advisory Panel</a></strong> of specialist consultants and medical practitioners, sensitive to the centrality of halocho (Jewish law) in your treatment choices. They can also offer expert guidance on second opinions and identifying the top relevant specialists in specific cases
  %li <strong><a href="http://chana.org.uk/serv_wellness.php">Well Woman Service</a></strong> provides up to date information on a wide range of women's preventative healthcare issues, general wellbeing and gynaecological matters, with special events for mothers of teenage daughters
  %li <strong><a href="http://chana.org.uk/serv_helpline.php">Male support workers</a></strong> offering individual consultations and support to husbands and couples
  %li <strong>Shiurim</strong> (lectures on related Jewish subjects) from leading community members on relevant topics
  %li <strong>Internet research co-ordinator</strong> to help you source the latest medical information about the issues affecting you
  %li <strong>Chana News & Views magazine</strong>, bringing you medical updates, readers' letters and personal stories
  %li <strong>Book, tape and CD library</strong> of resources to borrow/purchase
  %li <strong><a href="http://chana.org.uk/serv_buddies.php">Buddies</a></strong> - a one-to-one link with someone who has personally faced similar challenges
