- @title = "Chana Rally History"
= render :partial => "layouts/slider"

%h1 Rally History

%p Since 2004 the Chana Car Rally has been an integral part of the Jewish Diary. Taking in the Highlands of Scotland, the mountains near Rome, a drive down the banks of the Arno River in Italy, the Rhône Alpes and most recently Cannes on the Cote D’Azur, the Rally has always delivered a fantastic trip.

%h2 RALLY COMMITTEE
%ul
  %li Danny Brodie
  %li Uri Goldberg
  %li Benny Groszman
  %li Melly Lifshitz (New York)
  %li Mark Morris
