= render :partial => "layouts/slider"

%h1 Le Rallye de Monte Carlo
%p Over the past ten years, the Chana Car Rally has been an integral part of the Jewish Diary. Taking in the Highlands of Scotland, the mountains near Rome, a drive down the banks of the Arno River in Italy, the Rhône Alpes, Cannes on the Cote D’Azur, and most recently the Rally della Toscana, the Rally has always delivered a fantastic experience.
%p This year we invite you to join us on the 11-13th May 2015 for our 10th Anniversary Rally, Le Rallye de Monte-Carlo based in Monaco. The two day tour offers you the opportunity to drive through some of the finest roads enjoying spectacular scenery and exploring the highlights of the French Riviera and Monaco.
%p Throughout your stay in the Fairmont Hotel in the heart of Monte-Carlo, you will be able to take full advantage of the many amenities on offer both in the Hotel and in its close surroundings. Some of the many highlights of the tour are an opportunity to drive near the Grand Prix circuit, and access to the many attractions nearby including the famous Casino.
%p The car rally is the main fundraiser for Chana, a registered UK charity, which supports couples experiencing (the devastation of) infertility. 1 in 6 couples experience infertility. Many in the Jewish community are affected, often dealing with their situation in silence and alone. Chana is there to help. Chana provides; funding for fertility treatment, a strictly confidential helpline, specialist medical support and information, professional male and female support workers, confidential one-to-one counselling, an expert medical advisory panel, Information events and much more.
%p We look forward to hosting you for this unique experience and thereby assisting Chana with the tremendous work they do.

.span15
  %h3 RALLY COMMITTEE
  %ul
    %li Danny Brodie
    %li Pini Dunner
    %li Uri Goldberg
    %li Benny Groszman
    %li Melly Lifshitz
    %li Mark Morris