= render :partial => "layouts/slider"

%h1 Rally della Toscana
%p This year we invite you to join us on the 19th May for a very special rally based around the region of Tuscany, Italy. With the aim of raising money in support of Chana, the trip lasts two days and offers you the opportunity to drive some of the finest roads in the Tuscan countryside. The package includes the use of a sports car with options to upgrade to a super car. The road tour will cover the area of Florence, through spectacular valleys and beautiful scenery ending back in the Barberino di Mugello vicinity.
%p Throughout your stay in the Villa Le Maschere in the heart of Florence, you will be able to take full advantage of the many amenities on offer both in the Hotel and in its close surroundings.
%p The Villa Le Maschere is the setting of one of the most stylish hotels overlooking the magnificent Lake Bilancino with an impressive 16 hectares of land. You can relax by the outdoor pool or take advantage of the beautiful spa, indoor pool and fitness centre.

.span15
  .row
    .span10
      .row
        %h3 Rally History

        %p Since 2004 the Chana Car Rally has been an integral part of the Jewish Diary. Taking in the Highlands of Scotland, the mountains near Rome, a drive down the banks of the Arno River in Italy, the Rhône Alpes and most recently Cannes on the Cote D’Azur, the Rally has always delivered a fantastic trip.
    .span5
      %h3 RALLY COMMITTEE
      %ul
        %li Danny Brodie
        %li Uri Goldberg
        %li Benny Groszman
        %li Melly Lifshitz (New York)
        %li Mark Morris
