= render :partial => "layouts/slider"

%h1 The Chana Car Rally

%p Since 2004 the Chana Car Rally has been an integral part of the Jewish Diary. Taking in the Highlands of Scotland, the mountains above Nice near Rome, a drive down the banks of the Arno River in Florence, Monte Carlo and most recently Evian les Bains the Chana Car Rally is really something not to be missed.
%p This year we invite you to join us on the 29th April for a very special rally based around the beautiful Cote D’Azur in France. With the aim of raising money in support of Chana, a registered UK charity, the trip lasts two days and offers you the opportunity to drive on some of the best roads in the French Riviera. The road tour will go from Cannes, through spectacular valleys and wooded mountain ridges ending back in the elegance of Monaco.
%p Throughout your stay in the Martinez Hotel in the heart of Cannes, you will be able to take full advantage of the many amenities on offer both in the Hotel and city itself. On the famous boulevard de la Croisette, The Martinez Hotel is the setting of one of the most stylish hotels on the Riviera. You can explore the exclusive private beach, relax by the outdoor pool or take advantage of the beautiful spa and fitness centre.
%p 
  %strong Some of the highlights on offer during the trip are:
%ul 
  %li An opportunity to drive through the French Riviera, passing through Monte Carlo, Menton and the Mercantour National Park
  %li Access to the many attractions in the French Riviera, including the famous Monte Carlo casino based in the heart of Monaco

%p 
  %strong In addition, guests will benefit from the following facilities during their stay in the hotel:
%ul
  %li Indulge in unique therapies & specialised treatments encouraging calm and well-being at the L.Raphael Spa
  %li Work out in the Fitness Center that uses the most advanced weight training machines with round the clock access
  %li Gourmet kosher food throughout the stay. Catered by Europe's most exclusive manufacturer of Kosher food.
%p Each participant will be required to pay a minimum entry fee directly to Chana. Chana was founded in 1994 by a group of women who were dealing with infertility in their lives. It has since developed into a highly respected, professional, non-profit-making charity and serving the Jewish community. Chana has helped hundreds of couples to better understand and deal with the challenges of infertility and has supported them every step of the way. Chana is solely reliant on private donations and works tirelessly to ensure those facing primary and secondary infertility are given the best possible advice and support.
%p Chana continually strives to offer the best. This year, we have commissioned Jam Events to manage our rally and we look forward to another memorable and most remarkable experience!
