= render :partial => "layouts/slider"

%h1 The Chana Car Rally

%p Since 2004 the Car Chana Car Rally has been an integral part of the Jewish Diary. Taking in the Highlands of Scotland, the mountains above Nice & Rome, a drive down the banks of the Arno River in Florence & Tuscany and most recently Monte Carlo.
%p This year we invite you to join us on the 14th May for a very special rally based around the beautiful city of Geneva. With the aim of raising money in support of Chana, a registered UK charity , the trip lasts two days and offers you the opportunity to drive on some of the best roads in the Rhône Alpes mountain range. The road tour will finish in the mountains of Jura National Park.
%p Located throughout your stay in the Hilton Evian-les-Bains hotel on the banks of Lake Geneva in Evian, you will be able to take full advantage of the many amenities on offer both in the Hotel and the City itsef. With its stunning lakeside setting, the Hilton Evian-les-Bains hotel is nature’s gateway to discovery. Take in the views, explore trails and canyons, try watersports on the lake or improve your wellbeing at the Spa.
%p <strong>Some of the highlights on offer during the trip are:</strong>
%ul
  %li An opportunity to drive through the Rhône Alpes mountain range, Mont Blanc, Lake Annecy and the Jura National Park.
  %li Access to the many amenities in Evian itself including the Casino d’ Evian, located only a short walk away from our hotel

%p <strong>In addition, guests will benefit from the following facilities during their stay in the hotel:</strong>
%ul
  %li Indulge in unique therapies & Tibetan treatments encouraging calm and well-being at the Buddha-bar Spa.
  %li Work out in the Fitness Center offering lifestyle classes, relax in the wet zone with indoor relaxation bath, swim in the outside pool or choose to unwind in the Japanese bath, hamman or sauna.
  %li Gourmet kosher food throughout the stay.
  %li Wifi

%p Each participant will be required to pay a minimum entry donation, which will be paid directly to our designated charity, Chana. Chana was founded in 1994 by a group of women who were dealing with infertility in their lives. It has since developed into a highly respected, professional, non-profit-making charity, based in and serving the Jewish community. Chana has helped hundreds of couples to better understand and deal with the challenges of infertility and has supported them every step of the way. It is a non-profit making charity that is solely reliant on support from private donations.

%p The trip is organised by JAM Events.