%h2 Itinerary
%p The rough itinerary* would be as follows:

.row
  .span9
    .tbli
      %table{:class => "zebra-striped"}
        %tr
          %th{:colspan => "2"} Monday 19th May
        %tr
          %td{:class => "time"} From 3:00pm
          %td Arrival and registration
        %tr
          %td{:class => "time"} 7.00pm
          %td Welcome Drinks in the Bar-Caffe "Fantasie D’Oriente"
        %tr
          %td{:class => "time"} 7.30-10.30pm
          %td Dinner in the Ristorante "Pioppo Nero"

      %table{:class => "zebra-striped"}
        %tr
          %th{:colspan => "2"} Tuesday 20th May
        %tr
          %td{:class => "time"} 7.45am
          %td Shacharit in the Sala Torlonia
        %tr
          %td{:class => "time"} 8.30am
          %td Breakfast & Briefing in the Ristorante "Il Cancello Di Ghiereto I"
        %tr
          %td{:class => "time"} 9.30am
          %td Rally della Toscana Group Photograph
        %tr
          %td{:class => "time"} 10.00am
          %td Departure for Day 1 Route (South)
        %tr
          %td{:class => "time"} 1.00pm
          %td Lunch in the historic city of San Gimignano
        %tr
          %td{:class => "time"} 4.00pm
          %td Arrive back at hotel & free time
        %tr
          %td{:class => "time"} 6.30pm
          %td Mincha-Shiur-Maariv in the Sala Torrigiani (Cinema)
        %tr
          %td{:class => "time"} 7.00pm
          %td Wine tasting in the Ristorante "Il Divinvino" (Wine Cellar)
        %tr
          %td{:class => "time"} 8.00pm
          %td Gala Dinner in the "Sala Gerini"
      %table{:class => "zebra-striped"}
        %tr
          %th{:colspan => "2"} Wednesday 21st May
        %tr
          %td{:class => "time"} 8.30am
          %td Shacharit in the Sala Torlonia
        %tr
          %td{:class => "time"} 9.00am
          %td Breakfast in the Ristorante "Il Cancello Di Ghiereto II"
        %tr
          %td{:class => "time"} From 9.30am
          %td Departure for Day 2 Route (North) or Optional Jewish Heritage Tour of Florence
        %tr
          %td{:class => "time"} From 1.30pm
          %td Farewell BBQ Lunch at the poolside
        %tr
          %td{:class => "time"} 4.00pm
          %td Transfer to airports
    %p Drivers will travel on the Mille Miglia Route & on the world famous Passo Della Futa
    %p * Subject to change
  .span7
    %p= image_tag("/images/Chana-Rally-2012-(990).jpg", :width => 400)
    %p= image_tag("/images/Chana-Rally-2012-(519).jpg", :width => 400)
    %p= image_tag("/images/Chana-Rally-2012-(537).jpg", :width => 400 )