%h2 Itinerary
%p The rough itinerary* would be as follows:

.row
  .span9
    .tbli
      %table{:class => "zebra-striped"}
        %tr
          %th{:colspan => "2"} Monday 11th May
        %tr
          %td{:class => "time"} From 3:00pm
          %td Arrival and registration
        %tr
          %td{:class => "time"} 7.30pm-10.30pm
          %td Welcome Dinner in The Rooftop Restaurant with spectacular views

      %table{:class => "zebra-striped"}
        %tr
          %th{:colspan => "2"} Tuesday 12th May
        %tr
          %td{:class => "time"} 8.30am
          %td Breakfast & Briefing
        %tr
          %td{:class => "time"} 10.00am
          %td Group photograph & Departure for Day 1 Route
        %tr
          %td{:class => "time"} 1.00pm
          %td Lunch en route
        %tr
          %td{:class => "time"} 3.00pm
          %td Arrive back at hotel (Free Time)
        %tr
          %td{:class => "time"} 7.00pm
          %td Wine Tasting Experience
        %tr
          %td{:class => "time"} 8.00pm
          %td 10th Anniversary Gala Dinner
      %table{:class => "zebra-striped"}
        %tr
          %th{:colspan => "2"} Wednesday 13th May
        %tr
          %td{:class => "time"} 9.00am
          %td Breakfast
        %tr
          %td{:class => "time"} 10.00am
          %td Departure for Day 2 Route
        %tr
          %td{:class => "time"} 1.00pm
          %td Farewell BBQ Lunch
  .span7
    %p= image_tag("/images/Chana-Rally-2012-(990).jpg", :width => 400)
    %p= image_tag("/images/Chana-Rally-2012-(519).jpg", :width => 400)
    %p= image_tag("/images/Chana-Rally-2012-(537).jpg", :width => 400 )