%h2 Itinerary
%p The rough itinerary would be as follows:

.row
  .span9
    .tbli
      %table{:class => "zebra-striped"}
        %tr
          %th{:colspan => "2"} Monday 14th May
        %tr
          %td{:class => "time"} 12.00-7.00pm
          %td Arrive at Geneva Airport & Car Pick up
        %tr
          %td{:class => "time"} 2.00pm (onwards)
          %td Registration & Check In at Hotel
        %tr
          %td{:class => "time"} 7.30-10.30pm
          %td Buffet Dinner 
      %table{:class => "zebra-striped"}
        %tr
          %th{:colspan => "2"} Tuesday 15th May 2012
        %tr
          %td{:class => "time"} 7.45am
          %td Shacharit
        %tr
          %td{:class => "time"} 8.30am
          %td Breakfast
        %tr
          %td{:class => "time"} 9.15am
          %td Itinerary overview and briefing
        %tr
          %td{:class => "time"} 10.00am
          %td Departure for Day One Rally
        %tr
          %td{:class => "time"} 1.00-2.00pm
          %td Lunch at Lake Annecy
        %tr
          %td{:class => "time"} 4.00pm
          %td Arrive at Hotel
        %tr
          %td{:class => "time"} 7.00pm
          %td Reception
        %tr
          %td{:class => "time"} 8.00pm
          %td Gala Dinner 
      %table{:class => "zebra-striped"}
        %tr
          %th{:colspan => "2"} Tuesday 15th May 2012
        %tr
          %td{:class => "time"} 7.45am
          %td Shacharit
        %tr
          %td{:class => "time"} 8.15am
          %td Breakfast
        %tr
          %td{:class => "time"} 9.15am
          %td Departure for Day Two Rally
        %tr
          %td{:class => "time"} 1.00-2.00pm
          %td BBQ Lunch at Le Florimont
        %tr
          %td{:class => "time"} 4.00pm
          %td Transfer to Geneva Airport
  .span7
    %p= image_tag("/images/goatsvillage.jpg", :width => 400)
    %p= image_tag("/images/lake-annecy.jpg", :width => 400)
    %p= image_tag("/images/barillette.jpg", :width => 400 )