- @title = "Package"
= render :partial => "layouts/slider"
%h1 Package

%p All participants will benefit from the following:

%h3 Accommodation
%p Accommodation in the luxury Villa Le Maschere hotel. The hotel is one of the most exclusive hotels in Florence and is located near Lake Bilancino. Elegantly decorated guestrooms feature state of the art Technology and complimentary Wi-Fi. Guests with enjoy exclusive use of the entire villa and its facilities.
%p The hotel hosts a beautiful Spa and a wellness centre which has been developed in the ancient basements of the Villa, and enjoys a spectacular view through the three large arches that lead to the external swimming pools & Jacuzzi. There is also a fitness centre with modern equipment as well as 3 jogging trails in the surrounding 18 hectares of park.

%h3 Routes
%p Printed route book including a full itinerary, driving directions, maps, historical information and places to visit.

%h3 Catering
%p Kosher food will be supplied, to include fresh lunch and dinner and a 24 hour fully stocked tea lounge

%h3 Memories
%p Professional photographer to provide commemorative photos of the tour. This year we can offer personal video highlights of your experience.

%h3 Cars
%p Use of a sports car for the tour duration to include all relevant insurances and breakdown cover (all cars will have automatic or semi-automatic transmissions). Special cars available subject to additional cost and availability. See supplements on registration pages. Alternatively, arrangements can be made for private cars to be transported from the UK to Italy (see supplements on registration pages).

%h3 Assistance
%p Trained mechanics on hand to answer queries and assist participants with any difficulties.

%h3 Concierge
%p In addition to the business centre in the Villa and its concierge desk, members of JAM Events team will be happy to assist you with any of your requirements.

%h2 NEW THIS YEAR!
%p
  %strong Personal Video Highlights
%p Includes:
%ul
  %li Your individual Rally diary
  %li Internal & external action shots
  %li Driver & Car profile
  %li Real-time ‘v-logging’
  %li Time lapsed filming
  %li Tailored panoramic & scenic filmography
  %li Bespoke DVD case & Flash Drive Captured in 1080p Full High Definition with choice of any music
Subject to availability and must be booked prior to 15th April