- @title = "Package"
= render :partial => "layouts/slider"
%h1 Package

%p All participants will benefit from the following:

%h3 Sports Cars
%p All participants will benefit from the use of a sports car for the tour duration to include all relevant insurances and breakdown cover. Special cars available subject to an upgrade cost and availability.

%h3 Accommodation
%p The luxury Fairmont Hotel is one of the most exclusive hotels in Monte-Carlo and is located near the legendary Monte-Carlo casino. Elegantly decorated guestrooms feature private terraces and Wi-Fi.

%h3 Willow Stream Spa & Fitness Centre
%p The hotel hosts the beautiful Spa and fitness centre with spectacular views of the French Riviera. The large fitness centre features a Hammam and Sauna, a high-tech gym and 8 treatment rooms.

%h3 The Rooftop Outdoor Pool
%p The contemporary outdoor pool area benefits from extraordinary sights over the Mediterranean Sea, the legendary Opera and the famous Fairmont hairpin turn of the Formula 1 Grand Prix. The 15m x 7m outdoor pool is heated at 30°C all year round.

%h3 Printed Route Book & Kosher Dining
%p The Rally Route Book includes a full itinerary, an all-inclusive driving route manual, maps, historical information and places of interest. Kosher food will
be supplied by an internationally renowned caterer throughout the tour and a 24 hour fully stocked exclusive rally lounge.

%h3 Concierge
%p JAM Events will once again be on hand to assist guests with any requests during the tour and with any prior arrangements. There will be trained mechanics on hand to answer queries. A photographer will provide commemorative photos of the tour.
