- @title = "Package"
= render :partial => "layouts/slider"
%h1 Package

%p All participants will benefit from the following:
%ul 
  %li Use of a sports car for the tour duration to include all relevant insurances and breakdown cover (all cars will have automatic or semi‐automatic transmissions). Alternatively, arrangements can be made for private cars to be transported from the UK to Cannes (see Supplements on <a href="/registrations/new">Registration page</a>.)
  %li Accommodation in the luxury Martinez hotel. The hotel is one of the most exclusive hotels in Cannes and is located on the edge of the Mediterranean Sea on the famous Boulevard de la Croisette. Elegantly decorated guestrooms feature state‐of‐the‐art technology, including Telephone with direct line and voicemail and wireless Internet access.

%p The hotel hosts L.Raphael Beauty Spa, a unique Spa concept, a round the clock fitness centre in addition to the outdoor heated swimming pool and access to the private beach.
%ul 
  %li Printed route book including a full itinerary, driving directions, maps, historical information and places to visit
  %li Kosher food will be supplied, to include lunch and a 24 hour fully stocked tea lounge
  %li Professional photographer to provide commemorative photos of the tour
  %li Trained mechanics on hand to answer queries and assist participants with any difficulties

%h2 Booking and Terms & Conditions
%p Places are limited and the closing date for entry is Thursday 25<sup>th</sup> February 2013. The joining fee is £2,500 of which a £1,000 non-refundable deposit per person is required to secure a place. Please contact us to book your place on the rally. Balance is to be received by Monday 1<sup>st</sup> April 2013.
%h2 Entry Donation
%p The minimum entry donation is £2,500 per person and is based on two people sharing a car and a twin/double room. All entry donations will be paid direct to CHANA.
%p Participants must arrange their own flights to Nice Airport as well as transfers to the hotel. We can accommodate individuals in single rooms; a single supplement is £200 per person.
%p Other supplements available, please see Registration Page.