- @title = "Package"
= render :partial => "layouts/slider"
%h1 Package

%p All participants will benefit from the following:
%ul
  %li Use of a sports car for the tour duration (number and choice are limited - first come first served) to include all relevant insurances and breakdown cover (all cars will have automatic or semi‐automatic transmissions). The choice of cars (such as Porsche and Mercedes etc.) is being finalised and a provisional list will be available shortly. Alternatively, arrangements can be made for private cars to be transported from the UK to Geneva (extra cost confirmed upon application).
  %li Accommodation in the luxury Hilton Evian-les-Bains hotel. The Hotel is one of the most exclusive hotels in Evian and is located on the bank of Lake Geneva and just a short walk from Golf and the Casino. Elegantly decorated guestrooms feature state‐of‐the‐art technology, including Telephone with direct line and voicemail, Cable TV, Video on demand, Satellite TV (32 channels including CNN) and wireless Internet access. 

%p The hotel hosts an award winning Buddha-bar A unique Spa concept, combining exclusive Asian treatments, Life Style and Fitness classes: tai chi, yoga, Pilates in addition to their indoor and outdoor heated swimming pool

%ul
  %li Entertainment on the evening of 15th May. Details to be confirmed.
  %li Printed route book including a full itinerary, driving directions, maps, historical information and places to visit
  %li Kosher food will be supplied, to include fresh lunch and a 24 hour fully stocked tea lounge
  %li Professional photographer to provide commemorative photos of the tour
  %li Trained mechanics on hand to answer queries and assist participants with any difficulties

%h2 Booking and Terms & Conditions
%p Places are limited and the closing date for entry is Monday 16th February 2012. Payment of a deposit of £1,000 per person will be required to secure a place. Please contact us to book your place on the tour. Balance to be received on or before Monday 2nd April 2012. Each booking is accepted on the basis of our standard terms and conditions. A copy will be supplied upon request

%h2 Entry Donation
%p The minimum entry donation is £2,500 per person and is based on two people sharing a car and a twin/double room. All entry donations will be paid direct to CHANA.
%p Participants must arrange their own flights to Geneva Airport as well as transfers to the hotel. We can accommodate individuals in single rooms; a single supplement is payable of £260 per person.
%p Limited room upgrades (Junior Suite with Lake view) are available for a supplement Please phone us to reserve 020 8371 3286
%h2 Itinerary
%p The rough itinerary would be as follows:

.tbli
  %table
    %tr
      %th{:colspan => "2"} Monday 14th May
    %tr
      %td{:class => "time"} 15.00pm onwards
      %td Arrive at Geneva Airport
    %tr
      %td{:class => "time"} 19.30pm until 22.30pm
      %td Registration followed by Buffet Dinner 
  %table
    %tr
      %th{:colspan => "2"} Tuesday 15th May 2012
    %tr
      %td{:class => "time"} 08.30am
      %td Breakfast
    %tr
      %td{:class => "time"} 09.15pm
      %td Itinerary overview and briefing
    %tr
      %td{:class => "time"} 10.00am
      %td Departure
    %tr
      %td{:class => "time"} 13:00pm
      %td Lunch
    %tr
      %td{:class => "time"} 16.00pm
      %td Arrive at Hotel
    %tr
      %td{:class => "time"} 19.00pm
      %td Wine tasting
    %tr
      %td{:class => "time"} 20.00pm
      %td Gala Dinner 
  %table
    %tr
      %th{:colspan => "2"} Tuesday 15th May 2012
    %tr
      %td{:class => "time"} 08.30am
      %td Breakfast
    %tr
      %td{:class => "time"} 09.15pm
      %td Departure
    %tr
      %td{:class => "time"} 10.00am
      %td Departure
    %tr
      %td{:class => "time"} 13:00pm
      %td BBQ Lunch
    %tr
      %td{:class => "time"} 15.00pm
      %td Guided Tour of the Patek Philippe Museum
    %tr
      %td{:class => "time"} 16.00pm
      %td Transfer to Geneva Airport
