- @title = "Package"
= render :partial => "layouts/slider"
%h1 Package

%p All participants will benefit from the following:
%ul 
  %li Use of a sports car for the tour duration to include all relevant insurances and breakdown cover (all cars will have automatic or semi‐automatic transmissions). Alternatively, arrangements can be made for private cars to be transported from the UK to Geneva (see Supplements on <a href="/registrations/new">Registration page</a>.)
  %li Accommodation in the luxury Hilton Evian-les-Bains hotel. The hotel is one of the most exclusive hotels in Evian and is located on the bank of Lake Geneva and just a short walk from Golf and the Casino. Elegantly decorated guestrooms feature state‐of‐the‐art technology, including Telephone with direct line and voicemail, Cable TV, Video on demand, Satellite TV (32 channels including CNN) and wireless Internet access.

%p The hotel hosts an award winning Buddha-bar, a unique Spa concept, combining exclusive Asian treatments, Life Style and Fitness classes: tai chi, yoga, Pilates in addition to their indoor and outdoor heated swimming pool
%ul 
  %li Printed route book including a full itinerary, driving directions, maps, historical information and places to visit
  %li Kosher food will be supplied, to include fresh lunch and a 24 hour fully stocked tea lounge
  %li Professional photographer to provide commemorative photos of the tour
  %li Trained mechanics on hand to answer queries and assist participants with any difficulties

%h2 Booking and Terms & Conditions
%p Places are limited and the closing date for entry is Monday 27<sup>th</sup> February 2012. The joining fee is £2000 of which a £1,000 non refundable deposit per person is required to secure a place. Please contact us to book your place on the rally. Balance to be received by Monday 2<sup>nd</sup> April 2012.
%h2 Entry Donation
%p The minimum entry donation is £2,000 per person and is based on two people sharing a car and a twin/double room. All entry donations will be paid direct to CHANA.
%p Participants must arrange their own flights to Geneva Airport as well as transfers to the hotel. We can accommodate individuals in single rooms; a single supplement is £200 per person.
%p Limited room upgrades (Junior Suite) are available for £350 per person. Please phone us to reserve on 020 8371 3286.