- @title = "Sponsors"
%h1 Sponsors

%h2 Main Sponsors
%hr
.row
  .span4.offset1.sponsorhead
    %h3 One
  .span4.offset1.sponsorhead
    %h3 Two
  .span4.offset1.sponsorhead
    %h3 Three

= image_tag("/images/cl-hr.png")

%h2 Associate Sponsors
.row
  .span4.offset1.sponsorhead
    %h3 One
  .span4.offset1.sponsorhead
    %h3 Two
  .span4.offset1.sponsorhead
    %h3 Three

%p= image_tag("/images/cl-hr-rev.png")

%h2 Rally Organised
%hr
.row
  .span4.offset1
    %p 
  .span4.offset1.sponsorhead
    = link_to image_tag("/images/jam-events-box.png"), "http://www.jam-events.com"
  .span4.offset1
    %p

