- @title = "Sponsors"
%h1 Sponsors

%h2 Main Sponsors
%hr
.row
  .span4.offset1.sponsorhead.available
    %p
  .span4.offset1.sponsorhead.available
    %p <a href="http://www.chanarally2012.com/media/chana_rally12_main-proposal_a4_clr_nov11.pdf">Become a main sponsor</a>
  .span4.offset1.sponsorhead.available
    %p

= image_tag("/images/cl-hr.png")

%h2 Associate Sponsors
.row
  .span4.offset1.sponsorhead.available
    %p
  .span4.offset1.sponsorhead.available
    %p <a href="http://www.chanarally2012.com/media/chana_rally12_associate-proposal_a4_clr_nov11.pdf">Become an associate sponsor</a>
  .span4.offset1.sponsorhead.available
    %p

%p= image_tag("/images/cl-hr-rev.png")

%h2 Rally Organised by
%hr
.row
  .span4.offset1
    %p 
  .span4.offset1.sponsorhead
    = link_to image_tag("/images/jam-events-box.png"), "http://www.jam-events.com"
  .span4.offset1
    %p

